version: 2.1

executors:
  default:
    docker:
      - image: circleci/node:16.10.0

orbs:
  codecov: codecov/codecov@3.2.0

jobs:
  setup:
    executor: default
    steps:
      - checkout

      - restore_cache:
          name: Restoring Yarn package cache
          key: yarn-packages-{{ checksum "yarn.lock" }}

      - run:
          name: Setting Yarn offline mirror
          command: yarn config set yarn-offline-mirror ~/.cache/yarn && yarn config set yarn-offline-mirror-pruning true

      - run:
          name: Installing dependencies
          command: yarn install --prefer-offline --frozen-lockfile

      - save_cache:
          name: Storing Yarn package cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Checking dependency integrity
          command: yarn check --integrity --verify-tree

      - persist_to_workspace:
          root: .
          paths:
            - .

  build:
    executor: default
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Compile
          command: yarn build

  test:
    executor: default
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Running tests
          command: |
            mkdir -p /tmp/test-reports
            yarn run test --ci --runInBand --reporters=default --reporters=jest-junit --coverage
          environment:
            - JEST_JUNIT_OUTPUT_DIR: ./reports/junit/

      - store_test_results:
          path: ./reports/junit/

      - codecov/upload:
          file: ./reports/coverage/coverage-final.json

  lint:
    executor: default
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Linting
          command: yarn run ci:format

      - run:
          name: Type checking
          command: yarn run typecheck

workflows:
  version: 2
  build-and-test:
    jobs:
      - setup
      - build:
          requires:
            - setup
      - test:
          requires:
            - setup
      - lint:
          requires:
            - setup
