version: 2.1

executors:
  default:
    docker:
      - image: cimg/node:18.17.1

orbs:
  codecov: codecov/codecov@3.2.5

jobs:
  setup:
    executor: default
    steps:
      - checkout

      - restore_cache:
          name: Restore package cache
          keys:
            - npm-packages-{{ checksum "package-lock.json" }}

      - run:
          name: Install dependencies
          command: npm install --immutable

      - save_cache:
          name: Save package cache
          key: npm-packages-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

      - persist_to_workspace:
          root: .
          paths:
            - .

  build:
    executor: default
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Compile
          command: npm run build

  test:
    executor: default
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Test
          command: |
            mkdir -p /tmp/test-reports
            npm run test --ci --runInBand --reporters=default --reporters=jest-junit --coverage
          environment:
            - JEST_JUNIT_OUTPUT_DIR: ./reports/junit/

      - store_test_results:
          path: ./reports/junit/

      - codecov/upload:
          file: ./reports/coverage/coverage-final.json

  lint:
    executor: default
    steps:
      - attach_workspace:
          at: .

      - run:
          name: Lint
          command: npm run ci:format

      - run:
          name: Type check
          command: npm run typecheck

workflows:
  version: 2
  build-and-test:
    jobs:
      - setup
      - build:
          requires:
            - setup
      - test:
          requires:
            - setup
      - lint:
          requires:
            - setup
